<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<appSettings>
		
		<add key="miliSegundosdelay" value="10" />
		<add key="TimerDelay" value="500" />
		<add key="_ConexionString" value="server= 172.31.0.7; database= Eventyal; Persist Security Info= true; User ID = sa; Password=;"/>
		<add key="ApiKey" value="f2e76a6caff8be66ae7228f936f7d8e22c86debb6d448614be2bf4a677ce08a7" />
	</appSettings>
	
</configuration>